<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Delete Restaurant</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
	<div class="restaurant">
		<h1>Confirm your action to delete the restaurant {{restaurant.name}} or cancel!</h1>
		<form method="POST" action="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">
			<input id="deleteBtn" type="submit" value="Delete">
			<a href="{{url_for('showAllRestaurants')}}">Cancel</a>		
		</form>
	</div>
</body>
</html>