<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update the Item's Informations</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
	<header class="menuHeader">
	<h1>Change the Item's informations</h1>
	</header>
	<div class="ItemForm">
	<form method="POST" action="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=menu.id)}}">
		<label for="name">Item Name:</label>
		<input type="text" name="name" value="{{menu.name}}" required="required">
		<br>
		<label for="description">Item Description:</label>
		<input type="text" name="description" value="{{menu.description}}">
		<br>
		<label for="price">Item Price:</label>
		<input type="text" name="price" required="required" value="{{menu.price}}">
		<br>
		<label for="categorie">Item Categorie: </label>
		<select name="categorie">
			<option value="Burgers">Burgers</option>
			<option value="Hot Dogs">Hot Dogs</option>
			<option value="Drinks">Drinks</option>
			<option value="Appetizer">Appetizer</option>
		</select>
		<br><br>
		<input type="submit" value="Update">
		<a id="cancel" href="{{url_for('showRestaurant', restaurant_id=restaurant.id)}}">Cancel</a>
	</form>
	</div>
</body>
</html>